body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container-product {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #095ff4;
}

.carousel-item img {
  min-height: 30vh;
  max-width: 100%;
  max-height: 40vh;
  border-radius: 10px;
  display: block;
  border: #38dcef solid 2px;
}

.product {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 400px;
}

.product-content {
  padding: 10px;
}

.product h3 {
  margin-top: 0;
  color: #333;
}

.product p {
  color: #666;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: #ff6600 !important;
}

.product img {
  min-height: 250px;
  min-width: 250px;
  max-height: 300px;
  max-width: 300px;
}

.row {
  border: #38dcef solid 2px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}