body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container-home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  font-weight: bold;
}

h1 {
  color: #398be3;
  text-align: center;
}

h2 {
  color: #39d2e3;
  text-align: center;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.gallery {
  width: 48%;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-item img {
  width: 100%;
  min-height: 50hv;
  max-height: 50vh;
}