body {
  font-family: Arial, sans-serif;

}

.container-about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #092be7;
}

p {
  line-height: 1.6;
}

.about-section {
  margin-bottom: 40px;
}

.about-section h3 {
  color: #333;
}

.about-section p {
  color: #666;
}